<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8971056361-mrahpchhcbdj9cr1ubujo3iifag5rqh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8971056361-mrahpchhcbdj9cr1ubujo3iifag5rqh1</string>
	<key>API_KEY</key>
	<string>AIzaSyAZnbghw8q8DvAyJQNoB4Wd43hSTJKTWkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>8971056361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduVistaFinalProject</string>
	<key>PROJECT_ID</key>
	<string>edu-vista-909d2</string>
	<key>STORAGE_BUCKET</key>
	<string>edu-vista-909d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8971056361:ios:592fbd6d1678c4527cac78</string>
</dict>
</plist>